<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description"
         command="$(find xacro)/xacro '$(find virtual_6dof)/example/dual_demo.xacro'" />

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model vehicle_with_external_radar -param robot_description"
        output="screen"/>

  <rosparam command="load"
            file="$(find virtual_6dof)/config/virtual_6dof_controllers_shared.yaml"/>

  <node name="state_controller_spawner" pkg="controller_manager" type="spawner"
        output="screen" respawn="false"
        args="joint_state_controller"/>

  <include file="$(find virtual_6dof)/launch/virtual_6dof_control.launch">
    <arg name="prefix" value="p1"/>
  </include>
  <include file="$(find virtual_6dof)/launch/virtual_6dof_control.launch">
    <arg name="prefix" value="p2"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find virtual_6dof)/rviz/result.rviz"/>
</launch>