<?xml version="1.0"?>
<launch>
  <!-- 启动Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- 加载带有6DOF平台的模型 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find virtual_6dof)/urdf/vehicle_with_external_radar.xacro'" />

  <!-- 在Gazebo中生成模型 -->
  <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model vehicle_with_external_radar -param robot_description" 
        output="screen"/>

  <!-- 启动6DOF平台控制器 -->
  <rosparam file="$(find virtual_6dof)/config/virtual_6dof_controllers.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" 
        output="screen" respawn="false"
        args="joint_state_controller
              virtual_6dof_x_trans_joint_position_controller
              virtual_6dof_y_trans_joint_position_controller
              virtual_6dof_z_trans_joint_position_controller
              virtual_6dof_roll_joint_position_controller
              virtual_6dof_pitch_joint_position_controller
              virtual_6dof_yaw_joint_position_controller"/>

  <!-- 机器人状态发布器 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find virtual_6dof)/rviz/result.rviz"/>
</launch>