<?xml version="1.0"?>
<launch>
  <arg name="prefix" default="p1"/>

  <!-- 只加载该 prefix 的位置控制器 -->
  <rosparam command="load"
            file="$(find virtual_6dof)/config/virtual_6dof_controllers_$(arg prefix).yaml"/>

  <!-- spawn 该 prefix 的位置控制器（不 spawn joint_state_controller） -->
  <node name="controller_spawner_$(arg prefix)" pkg="controller_manager" type="spawner"
        output="screen" respawn="false"
        args="$(arg prefix)_virtual_6dof_x_trans_joint_position_controller
              $(arg prefix)_virtual_6dof_y_trans_joint_position_controller
              $(arg prefix)_virtual_6dof_z_trans_joint_position_controller
              $(arg prefix)_virtual_6dof_roll_joint_position_controller
              $(arg prefix)_virtual_6dof_pitch_joint_position_controller
              $(arg prefix)_virtual_6dof_yaw_joint_position_controller"/>
</launch>